Student Form
<form method="post" action="/students/">
    <input name="first_name" placeholder="First Name">
    <input name="last_name" placeholder="Last Name">
    <input type="submit" value="Submit Student">
</form>